In [2]:
# TOPIC: (String Based Assignment Problem)

# 1. Write a program to reverse a string.

s="Hello World"
s[::-1]

'dlroW olleH'

In [3]:
#  2. Check if a string is a palindrome.

s1='madam'
s2=s1[::-1]
if s1==s2:
    print('String is a palindrome')
else:
    print('string is not a palindrome')

String is a palindrome

In [4]:
# 3. Convert a string to uppercase.

s="pwskills"
s.upper()

'PWSKILLS'

In [6]:
# 4. Convert a string to lowercase.

z="INDIA"
z.lower()

'india'

In [13]:
#  5. Count the number of vowels in a string.


str1="Hello Every one How are you all"
vowels=['a','e','i','o','u','A','E','I','O','U']
count=0
for i in str1:
    if(i in vowels):
        count+=1
print("Total numbers of vowels",count)

Total numbers of vowels 12

In [1]:
#  6. Count the number of consonants in a string.
str1=input("Enter your string")
count=0
Vowels=['a','e','i','o','u','A','E','I','O','U']
for char in str1:
    if(char in Vowels):
        pass
    else:
        count+=1
print('Number of consonants-',count)

Enter your string Hello My name is anjani

Number of consonants- 15

In [2]:
# 7. Remove all whitespaces from a string.

z1=" Hello everyone how are you doing"
z1.replace(" ","")

'Helloeveryonehowareyoudoing'

In [4]:
#  8. Find the length of a string without using the `len()` function.

Z="Hello World"
count=0
for i in Z:
    count+=1
print("Length of the string",count)

Length of the string 11

In [11]:
#  9. Check if a string contains a specific word.

z="Hello World, My name is anjani"
if "anjani" in z:
    print("Word is present in the string")
else:
    print("Not present")

Word is present in the string

In [13]:
#  10. Replace a word in a string with another word.

str1="PWSkills is best for learning"
str1.replace("best",'great place')

'PWSkills is great place for learning'

In [9]:
#  11. Count the occurrences of a word in a string.

str1= "Hello world Hello India Hello bharat"
str2=str1.count("Hello")
print("Number of occurrences=",str2)

Number of occurrences= 3

In [39]:
#  12. Find the first occurrence of a word in a string.

str1="Hello India Hello world Hello India "
str2=str1.find('India')
print("First occurrence=",str2)

First occurrence= 6

In [45]:
#  13. Find the last occurrence of a word in a string.

str1="Hello world how are you world Hello India"
str2=str1.rfind("Hello")
print('last occurrence of a word=',str2)

last occurrence of a word= 30

In [47]:
#  14. Split a string into a list of words

str1="Hello world how are you"
str2=str1.split()
print(str2)

['Hello', 'world', 'how', 'are', 'you']

In [37]:
#  15. Join a list of words into a string.

l=['Hi','Everyone','How','are','you','all?']
string=' '.join(l)
print(string)

Hi Everyone How are you all?

In [38]:
#  16. Convert a string where words are separated by spaces to one where words
#      are separated by underscores.

str1="Hello Every one how are you all doing."
str2=str1.replace(" ","_")
print(str2)

Hello_Every_one_how_are_you_all_doing.

In [50]:
#  17. Check if a string starts with a specific word or phrase.

str1="Hi My name is anjani kumar"
prefix="Hi"
result=str1.startswith(prefix)
if result==True:
    print("The text starts with the prefix.")
else:
    print("The text does not start with the prefix.")

The text starts with the prefix.

In [53]:
#  18. Check if a string ends with a specific word or phrase.

str1="Hi Every one How are you all"
suffix="all"
result=str1.endswith(suffix)
if result==1:
    print("The text ends with the suffix.")
else:
    print("The text does not end with the suffix.")

The text ends with the suffix.

In [55]:
#  19. Convert a string to title case (e.g., "hello world" to "Hello World").

str1="hello india"
str2=str1.title()
print(str2)

Hello India

In [62]:
#  20. Find the longest word in a string.

str1="My name is Anjani kumar"
words=str1.split()
longest_word=""
max_length=0
for word in words:
    if len(word) > max_length:
        max_length = len(word)
        longest_word = word
print(longest_word)

Anjani

In [63]:
#  21. Find the shortest word in a string.

str1="My name is Anjani kumar"
words=str1.split()
shortest_word=""
min_length=0
for word in words:
    if len(word) < max_length:
        max_length = len(word)
        shortest_word = word
print(shortest_word)

My

In [65]:
#  22. Reverse the order of words in a string.

str1="Hello Everyone How are you all"
str2=str1.split()
str3=str2[::-1]
print(str3)

['all', 'you', 'are', 'How', 'Everyone', 'Hello']

In [78]:
#  23. Check if a string is alphanumeric.

str1="Hello123"
str2=str1.isalnum()
if str2 is True:
    print("The string is alphanumeric")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric

In [89]:
#  24. Extract all digits from a string.

str1="Hello456"
digit=" "
for char in str1:
    if char.isdigit():
        digit+=char
print("Extracted digits:",digit)

Extracted digits:  456

In [93]:
#  25. Extract all alphabets from a string.

str1="Hello456"
alphabets=" "
for char in str1:
    if char.isalpha():
        alphabets+=char
print("Extracted alphabets:",alphabets)

Extracted alphabets:  Hello

In [101]:
#  26. Count the number of uppercase letters in a string.

text=input("Text= ")
count=0
for character in text:
    if (character.isupper()):
        count+=1
print("Count:",count)

Text=  ANJani

Count: 3

In [102]:
#  27. Count the number of lowercase letters in a string.

text=input("Text= ")
count=0
for character in text:
    if (character.islower()):
        count+=1
print("Count:",count)

Text=  Hi Everyone

Count: 8

In [108]:
#  28. Swap the case of each character in a string.

text1="Hello Everyone"
text2=text1.swapcase()
print(text2)

hELLO eVERYONE

In [123]:
#  29. Remove a specific word from a string.
 
input_string="Hello world, welcome to the programming."
word_to_remove = "world"
new_str=" ".join(input_string.replace(word_to_remove,"").split())
print(new_str)

Hello , welcome to the programming.

In [1]:
#  30. Check if a string is a valid email address.

import re
 
# Make a regular expression
# for validating an Email
regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
 
# Define a function for
# for validating an Email
def check(email):
 
    # pass the regular expression
    # and the string into the fullmatch() method
    if(re.fullmatch(regex, email)):
        print("Valid Email")
 
    else:
        print("Invalid Email")
 
# Driver Code
if __name__ == '__main__':
 
    # Enter the email
    email = "ankitrai326@gmail.com"
 
    # calling run function
    check(email)
 
    email = "my.ownsite@our-earth.org"
    check(email)
 
    email = "ankitrai326.com"
    check(email)

Valid Email
Valid Email
Invalid Email

In [2]:
#  31. Extract the username from an email address string.


# Python3 code to demonstrate working of
# Extract domain name from Email address
# Using index() + slicing
 
# initializing strings
test_str = 'manjeet@geeksforgeeks.com'
 
# printing original string
print("The original string is : " + str(test_str))
 
# slicing domain name using slicing
res = test_str[test_str.index('@') + 1 : ]
 
# printing result
print("The extracted domain name : " + str(res))

The original string is : manjeet@geeksforgeeks.com
The extracted domain name : geeksforgeeks.com

In [3]:
#  32. Extract the domain name from an email address string. 


# initializing strings
test_str = 'manjeet@geeksforgeeks.com'
 
# printing original string
print("The original string is : " + str(test_str))
 
# slicing domain name using slicing
res = test_str[test_str.index('@') + 1 : ]
 
# printing result
print("The extracted domain name : " + str(res))

The original string is : manjeet@geeksforgeeks.com
The extracted domain name : geeksforgeeks.com

In [9]:
#  33. Replace multiple spaces in a string with a single space.

import re

msg = "Hello  Python    World"

removeSpaces = re.sub('\\s+', ' ', msg)

print(removeSpaces)

Hello Python World

In [10]:
#  34. Check if a string is a valid URL.

def Find(string):
    x=string.split()
    res=[]
    for i in x:
        if i.startswith("https:") or i.startswith("http:"):
            res.append(i)
    return res
             
# Driver Code
string = 'My Profile: https://auth.geeksforgeeks.org/user/Chinmoy%20Lenka/articles in the portal of https://www.geeksforgeeks.org/'
print("Urls: ", Find(string))

Urls:  ['https://auth.geeksforgeeks.org/user/Chinmoy%20Lenka/articles', 'https://www.geeksforgeeks.org/']

In [45]:
#  35. Extract the protocol (http or https) from a URL string.

from urllib.parse import urlparse
# from urlparse import urlparse  # Python 2
parsed_uri = urlparse('http://stackoverflow.com/questions/1234567/blah-blah-blah-blah' )
result = '{uri.scheme}://{uri.netloc}/'.format(uri=parsed_uri)
print(result)

# gives
'http://stackoverflow.com/'

http://stackoverflow.com/

'http://stackoverflow.com/'

In [16]:
#  36. Find the frequency of each character in a string.

str1 = input ("Enter the string: ")
d = dict()
for c in str1:
    if c in d:
        d[c] = d[c] + 1
    else:
        d[c] = 1
print(d)

Enter the string:  Hello everyone

{'H': 1, 'e': 4, 'l': 2, 'o': 2, ' ': 1, 'v': 1, 'r': 1, 'y': 1, 'n': 1}

In [17]:
# 37. Remove all punctuation from a string.

import string

a_string = '!hi. wh?at is the weat[h]er lik?e.'
new_string = a_string.translate(str.maketrans('', '', string.punctuation))

print(new_string)

hi what is the weather like

In [18]:
# 38. Check if a string contains only digits.

# Initialising string
ini_string1 = '1234556'
ini_string2 = 'ab123bc'
 
# printing initial string
print("Initial Strings : ", ini_string1, ini_string2)
 
# Using isdigit()
if ini_string1.isdigit():
    print("String1 contains all numbers")
else:
    print("String1 doesn't contains all numbers")
 
if ini_string2.isdigit():
    print("String2 contains all numbers")
else:
    print("String2 doesn't contains all numbers")

Initial Strings :  1234556 ab123bc
String1 contains all numbers
String2 doesn't contains all numbers

In [19]:
#  39. Check if a string contains only alphabets.

str1 = "hello world. welcome to python examples."

if str1.isalpha():
    print('Given string contains only alphabets.')
else:
    print('Given string does not contain only alphabets.')

Given string does not contain only alphabets.

In [20]:
#  40. Convert a string to a list of characters.

s = "Geeks for"
x = list(s)
print(x)

['G', 'e', 'e', 'k', 's', ' ', 'f', 'o', 'r']

In [23]:
#  41. Check if two strings are anagrams.


# function to check if two strings are
# anagram or not
def check(s1, s2):
     
    # the sorted strings are checked
    if(sorted(s1)== sorted(s2)):
        print("The strings are anagrams.")
    else:
        print("The strings aren't anagrams.")        
         
# driver code 
s1 ="listen"
s2 ="silent"
check(s1, s2)

The strings are anagrams.

In [47]:
#  42. Encode a string using a Caesar cipher.

message = 'GIEWIVrGMTLIVrHIQS' #encrypted message
LETTERS = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

for key in range(len(LETTERS)):
   translated = ''
   for symbol in message:
      if symbol in LETTERS:
         num = LETTERS.find(symbol)
         num = num - key
         if num < 0:
            num = num + len(LETTERS)
         translated = translated + LETTERS[num]
      else:
         translated = translated + symbol
print('Hacking key #%s: %s' % (key, translated))

Hacking key #25: HJFXJWrHNUMJWrIJRT

In [53]:
#  43. Decode a Caesar cipher encoded string.

message = 'GIEWIVrGMTLIVrHIQS' #encrypted message
LETTERS = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

for key in range(len(LETTERS)):
   translated = ''
   for symbol in message:
      if symbol in LETTERS:
         num = LETTERS.find(symbol)
         num = num - key
         if num < 0:
            num = num + len(LETTERS)
         translated = translated + LETTERS[num]
      else:
         translated = translated + symbol
print('Hacking key #%s: %s' % (key, translated))

Hacking key #25: HJFXJWrHNUMJWrIJRT

In [30]:
#  44. Find the most frequent word in a string.

from collections import defaultdict
my_list = ["python is best for coders", "python is fun", "python is easy to learn"]

print("The list is :")
print(my_list)

my_temp = defaultdict(int)

for sub in my_list:
   for word in sub.split():
      my_temp[word] += 1

result = max(my_temp, key=my_temp.get)

print("The word that has the maximum frequency :")
print(result)

The list is :
['python is best for coders', 'python is fun', 'python is easy to learn']
The word that has the maximum frequency :
python

In [31]:
#  45. Find all unique words in a string.

def printWords(l):
     
    # for loop for iterating
    for i in l:
        print(i)
 
 
# Driver code
str = "geeks for geeks"
 
# storing string in the form of list of words
s = set(str.split(" "))
 
# passing list to print words function
printWords(s)

geeks
for

In [35]:
#  46. Count the number of syllables in a string.

def count_syllables(word):
    word = word.lower()
    counter = 0
    is_previous_vowel = False
    for index, value in enumerate(word):
        if value in ["a", "e", "i", "o", "u", "y"]:
            if index == len(word) - 1:
                if value == "e":
                    if counter == 0:
                        counter += 1
                else:
                    counter += 1
            else:
                if is_previous_vowel == True:
                    counter += 1
                    is_previous_vowel = False
                    break
            is_previous_vowel = True
        else:
            if is_previous_vowel == True:
                counter += 1
            is_previous_vowel = False
    print ("In \"{}\" I count {} syllables".format(word, counter))

count_syllables("coding")

In "coding" I count 2 syllables

In [36]:
# 47. Check if a string contains any special characters.

import re

def find(string):
    special_char=re.compile('[@_!$%^&*()<>?/\|}{~:]#')
    
    if special_char.search(string) == None:
        return "string is accepted"
    else:
        return "string not accpeted"
   

s="Hello15"
print(s)
print(find(s))

Hello15
string is accepted

In [37]:
#  48. Remove the nth word from a string.
import numpy as np
 
 
def RemoveIthWord(list, word, N):
   
    # convert the given list to a NumPy array
    arr = np.array(list)
 
    # find the indices of the Nth
    # occurrence of the given word
    indices = np.where(arr == word)[0]
 
    # if the number of occurrences is less
    # than N, print "Item not found" and
    # return the original list
    if len(indices) < N:
        print("Item not found")
        return list
 
    # use the np.delete() method to remove
    # the Nth occurrence of the given word
    # from the NumPy array
    arr = np.delete(arr, indices[N-1])
 
    # convert the modified NumPy array
    # back to a list and return it
    new_list = arr.tolist()
    print("Updated list is:", new_list)
    return new_list
 
 
# Driver Code
list = ["geeks", "for", "geeks"]
word = "geeks"
N = 2
 
RemoveIthWord(list, word, N)

Updated list is: ['geeks', 'for']

['geeks', 'for']

In [39]:
#  49. Insert a word at the nth position in a string.


# input string
inputString = "Hello India"

# adding a character at the end of an input string using the + operator
inputString = inputString + 't' 

# printing the resultant string
print("Adding 't' at the end of an input string:\n", inputString)

Adding 't' at the end of an input string:
 Hello Indiat

In [42]:
#  50. Convert a CSV string to a list of lists.

# app.py
  
import pandas as pd
  
# Creating Dictionary
dict = {
    'series': ['Friends', 'Money Heist', 'Marvel'],
    'episodes': [200, 50, 45],
    'actors': [' David Crane', 'Alvaro', 'Stan Lee']
}
  
# Creating Dataframe
df = pd.DataFrame(dict)
print(df)

        series  episodes        actors
0      Friends       200   David Crane
1  Money Heist        50        Alvaro
2       Marvel        45      Stan Lee

In [95]:
#  1. Create a list with integers from 1 to 10.


lis_of_num=list(range(1,11))
print(lis_of_num)

In [93]:
#  2. Find the length of a list without using the `len()` function.

#take user input
lis1 = [1,2,3,4,5,6]

count = 0

for i in lis1:
 
    count+=1
print(count)

6

In [101]:
#  3. Append an element to the end of a list.

my_list = ['geeks', 'for']
my_list.append('geeks')
print (my_list)

['geeks', 'for', 'geeks']

In [104]:
#  4. Insert an element at a specific index in a list.

L1=[1,2,3,"Hi"]
L1.insert(2,"INDIA")
print(L1)

[1, 2, 'INDIA', 3, 'Hi']

In [105]:
#  5. Remove an element from a list by its value.

Lis=[3,4,5,"Hi","INDIA","ANJANI"]
Lis.remove("INDIA")
print(Lis)

[3, 4, 5, 'Hi', 'ANJANI']

In [107]:
#  6. Remove an element from a list by its index.

T1= [9,8,2,3,"Hello","INDIA","Pw skills"]
T1.pop(4)
print(T1)

[9, 8, 2, 3, 'INDIA', 'Pw skills']

In [116]:
#  7. Check if an element exists in a list.

lst=[ 1, 6, 3, 5, 3, 4 ]
#checking if element 7 is present
# in the given list or not
i=7
# if element present then return
# exist otherwise not exist
if i in lst:
    print("exist")
else:
    print("not exist")

not exist

In [118]:
#  8. Find the index of the first occurrence of an element in a list.

mylist = [21, 5, 8, 52, 21, 87]
#search item
item = 8
#find index of item in list
index = mylist.index(item)
#print output
print(f"index of {item} in the list : {index}")

index of 8 in the list : 2

In [120]:
#  9. Count the occurrences of an element in a list.

def countX(lst, x):
    count = 0
    for ele in lst:
        if (ele == x):
            count = count + 1
    return count
 
 
# Driver Code
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x,
                                        countX(lst, x)))

8 has occurred 5 times

In [121]:
#  10. Reverse the order of elements in a list.

Lus=[1,2,3,4,"Hello"]
Rev=Lus[::-1]
print(Rev)

['Hello', 4, 3, 2, 1]

In [123]:
#  11. Sort a list in ascending order.

# a list of numbers
my_numbers = [10, 8, 3, 22, 33, 7, 11, 100, 54]

#sort list in-place in ascending order
my_numbers.sort()

#print modified list
print(my_numbers)

#output

#[3, 7, 8, 10, 11, 22, 33, 54, 100]

[3, 7, 8, 10, 11, 22, 33, 54, 100]

In [125]:
#  12. Sort a list in descending order.

# a list of numbers
my_numbers = [10, 8, 3, 22, 33, 7, 11, 100, 54]

#sort list in-place in ascending order
my_numbers.sort(reverse=True)

#print modified list
print(my_numbers)

#output

#[3, 7, 8, 10, 11, 22, 33, 54, 100]

[100, 54, 33, 22, 11, 10, 8, 7, 3]

In [126]:
#  13. Create a list of even numbers from 1 to 20.

even_numbers = [x for x in range(21) if x%2==0]
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [128]:
#  14. Create a list of odd numbers from 1 to 20.

odd_numbers = [x for x in range(21) if x%2!=0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [131]:
#  15. Find the sum of all elements in a list.

# creating a list
list1 = [11, 5, 17, 18, 23]
 
# using sum() function
total = sum(list1)
 
# printing total value
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [136]:
#  16. Find the maximum value in a list.

# Declaring a list with random integers.
list1 = [4, -4, 8, -9, 1]

maxValue = max(list1)

print(maxValue)

8

In [135]:
#  17. Find the minimum value in a list.

list1 = [4, -4, 8, -9, 1]
minValue = min(list1)
print(minValue)

-9

In [138]:
#  18. Create a list of squares of numbers from 1 to 10.

l = []

for i in range(1, 10):
    l.append(i * i)

print("List with square of integers from 1 to 10:")
print(l)

List with square of integers from 1 to 10:
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [143]:
#  19. Create a list of random numbers.

import random
 
rand_list=[]
n=10
for i in range(n):
    rand_list.append(random.randint(3,9))
print(rand_list)

[7, 5, 4, 4, 4, 3, 9, 3, 3, 9]

In [144]:
#  20. Remove duplicates from a list.

# Python code to remove duplicate elements
def Remove(duplicate):
    final_list = []
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list
     
# Driver Code
duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate))

[2, 4, 10, 20, 5]

In [145]:
# 21. Find the common elements between two lists.

def common_member(a, b):
    a_set = set(a)
    b_set = set(b)
 
    if (a_set & b_set):
        print(a_set & b_set)
    else:
        print("No common elements")
          
  
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
common_member(a, b)
  
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9]
common_member(a, b)

{5}
No common elements

In [147]:
#  22. Find the difference between two lists.

li1 = [10, 15, 20, 25, 30, 35, 40]
li2 = [25, 40, 35]
 
temp3 = []
for element in li1:
    if element not in li2:
        temp3.append(element)
 
print(temp3)

[10, 15, 20, 30]

In [152]:
#  23. Merge two lists.


def merge():
    #list 1
    ls1 = [15,20,35,40]
    #list 2
    ls2 = [99,44,13]
    #merging using '+' operator
    ls = ls1 + ls2
    print(ls)
merge()

[15, 20, 35, 40, 99, 44, 13]

In [156]:
#  24. Multiply all elements in a list by 2.

sample_list = [100, 200, 300, 400, 500]
new_list = [i * 2 for i in sample_list]
print(new_list)

[200, 400, 600, 800, 1000]

In [ ]:
#  25. Filter out all even numbers from a list

def even(x):
    return x % 2 == 0
 
a = [2, 5, 7, 8, 10, 13, 16]
 
result = filter(even, a)
print('Original List :', a)
print('Filtered List :', list(result))

In [1]:
#  26. Convert a list of strings to a list of integers.

test_list = ['1', '4', '3', '6', '7']
 
# using loop
for i in range(0, len(test_list)):
    test_list[i] = int(test_list[i])
 
# Printing modified list
print("Modified list is : " + str(test_list))

Modified list is : [1, 4, 3, 6, 7]

In [2]:
#  27. Convert a list of integers to a list of strings.

# Python code to convert list of
# string into sorted list of integer
   
# List initialization
list_int = [1, 12, 15, 21, 131]
   
# mapping
list_string = map(str, list_int)
   
# Printing sorted list of integers
print(list(list_string))

['1', '12', '15', '21', '131']

In [3]:
#  28. Flatten a nested list.

my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [num for sublist in my_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [7]:
#  29. Create a list of the first 10 Fibonacci numbers.

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms?  10

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [8]:
#  30. Check if a list is sorted.

test_list = [1, 4, 5, 8, 10]
 
# printing original list
print ("Original list : " + str(test_list))
 
# using naive method to
# check sorted list
flag = 0
i = 1
while i < len(test_list):
    if(test_list[i] < test_list[i - 1]):
        flag = 1
    i += 1
     
# printing result
if (not flag) :
    print ("Yes, List is sorted.")
else :
    print ("No, List is not sorted.")

Original list : [1, 4, 5, 8, 10]
Yes, List is sorted.

In [9]:
#  31. Rotate a list to the left by `n` positions.

def rotate_list(lst, n):
    return list(reversed(lst[-n:])) + lst[:-n]
 
my_list = [1, 2, 3, 4, 5]
# printing original list
print ("Original list : " + str(my_list))
  
rotated_list = rotate_list(my_list, 2)
print(rotated_list)
#This code is contributed by Jyothi pinjala

Original list : [1, 2, 3, 4, 5]
[5, 4, 1, 2, 3]

In [10]:
#  32. Rotate a list to the right by `n` positions.

def rightRotate(lists, num):
    output_list = []
 
    # Will add values from n to the new list
    for item in range(len(lists) - num, len(lists)):
        output_list.append(lists[item])
 
    # Will add the values before
    # n to the end of new list
    for item in range(0, len(lists) - num):
        output_list.append(lists[item])
 
    return output_list
 
 
# Driver Code
rotate_num = 3
list_1 = [1, 2, 3, 4, 5, 6]
 
print(rightRotate(list_1, rotate_num))

[4, 5, 6, 1, 2, 3]

In [13]:
#  33. Create a list of prime numbers up to 50.

def prime_numbers(n):
    primes = []
    for i in range(2, n + 1):
        for j in range(2, int(i ** 0.5) + 1):
            if i%j == 0:
                break
        else:
            primes.append(i)
    return primes

prime_list = prime_numbers(50)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [14]:
#  34. Split a list into chunks of size `n`.

my_list = ['geeks', 'for', 'geeks', 'like',
           'geeky','nerdy', 'geek', 'love',
               'questions','words', 'life']
  
# Yield successive n-sized
# chunks from l.
def divide_chunks(l, n):
      
    # looping till length l
    for i in range(0, len(l), n): 
        yield l[i:i + n]
  
# How many elements each
# list should have
n = 5
  
x = list(divide_chunks(my_list, n))
print (x)

[['geeks', 'for', 'geeks', 'like', 'geeky'], ['nerdy', 'geek', 'love', 'questions', 'words'], ['life']]

In [15]:
#  35. Find the second largest number in a list.

list1 = [10, 20, 4, 45, 99]
 
mx = max(list1[0], list1[1])
secondmax = min(list1[0], list1[1])
n = len(list1)
for i in range(2,n):
    if list1[i] > mx:
        secondmax = mx
        mx = list1[i]
    elif list1[i] > secondmax and \
        mx != list1[i]:
        secondmax = list1[i]
    elif mx == secondmax and \
        secondmax != list1[i]:
          secondmax = list1[i]
 
print("Second highest number is : ",\
      str(secondmax))

Second highest number is :  45

In [17]:
#  36. Replace every element in a list with its square.

def square_list(list1):
    for i in list1:
        list1[list1.index(i)] = i**2
    print(list1)

square_list([1, 2, 3, 4, 5])

[1, 16, 9, 4, 25]

In [18]:
# 37. Convert a list to a dictionary where list elements become keys and their
# indices become values.

def list_to_dict_with_index(lst):
    dict_with_index = {index: value for index, value in enumerate(lst)}
    return dict_with_index
 
if __name__ == "__main__":
    sample_list = ['a', 'b', 'c', 'd', 'e']
    result_dict = list_to_dict_with_index(sample_list)
    print(result_dict)

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'}

In [19]:
#  38. Shuffle the elements of a list randomly.

import random

mylist = ["apple", "banana", "cherry"]
random.shuffle(mylist)

print(mylist)

['banana', 'cherry', 'apple']

In [23]:
#  39. Create a list of the first 10 factorial numbers.

input_set = {1, 2, 3, 4, 5,6,7,8,9,10}
fact = 1
for item in input_set:
    for number in range(1,item+1):
        fact = fact * number
    print ("Factorial of", item, "is", fact)

Factorial of 1 is 1
Factorial of 2 is 2
Factorial of 3 is 12
Factorial of 4 is 288
Factorial of 5 is 34560
Factorial of 6 is 24883200
Factorial of 7 is 125411328000
Factorial of 8 is 5056584744960000
Factorial of 9 is 1834933472251084800000
Factorial of 10 is 6658606584104736522240000000

In [24]:
#  40. Check if two lists have at least one element in common.

def commonFunc(list1, list2):
	p_set = set(p)
	q_set = set(q)
	if len(p_set.intersection(q_set)) > 0:
		return True
	return False
	
# First List
p = [4, 10, 15, 20, 25, 30]
print("List1 = ",p)

# Second List
q = [12, 24, 25, 35, 45, 65]
print("List2 = ",q)

print("Are common elements in both the lists? ",commonFunc(p, q))

List1 =  [4, 10, 15, 20, 25, 30]
List2 =  [12, 24, 25, 35, 45, 65]
Are common elements in both the lists?  True

In [25]:
#  41. Remove all elements from a list.
if __name__ == '__main__':
 
    a = [1, 2, 3, 4, 5]
 
    print(a)    # prints [1, 2, 3, 4, 5]
    a.clear()
    print(a)    # prints []

[1, 2, 3, 4, 5]
[]

In [26]:
#  42. Replace negative numbers in a list with 0.

# Python code to demonstrate
# to replace negative value with 0
import numpy as np
 
ini_array1 = np.array([1, 2, -3, 4, -5, -6])
 
# printing initial arrays
print("initial array", ini_array1)
 
# code to replace all negative value with 0
ini_array1[ini_array1<0] = 0
 
# printing result
print("New resulting array: ", ini_array1)

initial array [ 1  2 -3  4 -5 -6]
New resulting array:  [1 2 0 4 0 0]

In [27]:
#  43. Convert a string into a list of words.

str1= "Hello Everyone Welcome to Tutoiralspoint"

print("The given string is")
print(str1)

print("Converting them into list of words")
res = str1.split()
print(res)

The given string is
Hello Everyone Welcome to Tutoiralspoint
Converting them into list of words
['Hello', 'Everyone', 'Welcome', 'to', 'Tutoiralspoint']

In [30]:
#  44. Convert a list of words into a string.

def listToString(s):
 
    # initialize an empty string
    str1 = " "
 
    # return string
    return (str1.join(s))
     
     
# Driver code
s = ['Geeks', 'for', 'Geeks']
print(listToString(s))

Geeks for Geeks

In [35]:
#  45. Create a list of the first `n` powers of 2.

n = 4

print("The value n is : ")
print(n)
k = 5
print("The value of k is : ")
print(k)
result = [n ** index for index in range(0, k)]

print("The square values of N till K : " )
print(result)

The value n is :
4
The value of k is :
5
The square values of N till K :
[1, 4, 16, 64, 256]

In [36]:
#  46. Find the longest string in a list of strings.

test_list = ['gfg', 'is', 'best', 'for', 'geeks']
 
# printing original list
print("The original list : " + str(test_list))
 
# Longest String in list
# using loop
max_len = -1
for ele in test_list:
    if len(ele) > max_len:
        max_len = len(ele)
        res = ele
 
# printing result
print("Maximum length string is : " + res)

The original list : ['gfg', 'is', 'best', 'for', 'geeks']
Maximum length string is : geeks

In [38]:
# 47. Find the shortest string in a list of strings.


test_list = ['gfg', 'is', 'best']
 
# printing original list
print("The original list : " + str(test_list))
 
# Minimum String length
# using min() + generator expression
res = min(len(ele) for ele in test_list)
 
# printing result
print("Length of minimum string is : " + str(res))

The original list : ['gfg', 'is', 'best']
Length of minimum string is : 2

In [39]:
#  48. Create a list of the first `n` triangular numbers.

n = 10
triangle_nums = []
tri_num = 0

for i in range(1, n + 1):
    tri_num += i
    triangle_nums.append(tri_num)

print(triangle_nums)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [44]:
#  49. Check if a list contains another list as a subsequence.

def removeElements(A, B):
     
    for i in range(len(B)-len(A)+1):
        for j in range(len(A)):
            if B[i + j] != A[j]:
                break
        else:
            return True
     
    return False
 
# Initializing lists  
A = [1, 2]
B = [1, 2, 3, 1, 1, 2, 2]
 
# Printing result
print(removeElements(A, B))

True

In [46]:
#  50. Swap two elements in a list by their indices.

numbers = [1, 2, 3, 4, 5]
indices = 1, 3
print("Original List:", numbers)
swapped_list = swap_elements(numbers, *indices)
print("Swapped List:", swapped_list)

Original List: [1, 2, 3, 4, 5]
Swapped List: [1, 4, 3, 2, 5]

In [49]:
##   Tuple Based Practice Problem :


#  1. Create a tuple with integers from 1 to 5.

x = tuple(range(1, 6))
print(x)

(1, 2, 3, 4, 5)

In [52]:
#  2. Access the third element of a tuple.

thistuple = ("apple", "banana", "cherry")
print(thistuple[2])

cherry

In [53]:
#  3. Find the length of a tuple without using the `len()` function.

string = 'Hello'

count = 0

for i in string:
 
    count+=1
print(count)

5

In [54]:
#  4. Count the occurrences of an element in a tuple.

def countX(tup, x):
    count = 0
    for ele in tup:
        if (ele == x):
            count = count + 1
    return count
 
 
# Driver Code
tup = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
enq = 4
enq1 = 10
enq2 = 8
 
print(countX(tup, enq))
print(countX(tup, enq1))
print(countX(tup, enq2))

0
3
4

In [56]:
#  5. Find the index of the first occurrence of an element in a tuple.

my_tuple = ( 4, 2, 5, 6, 7, 5)
print(my_tuple.index(5))

2

In [58]:
#  6. Check if an element exists in a tuple.

test_tup = (10, 4, 5, 6, 8)
 
# printing original tuple
print("The original tuple : " + str(test_tup))
 
# initialize N
N = 6
 
# Check if element is present in tuple
# Using in operator
res = N in test_tup
 
# printing result
print("Does tuple contain required value ? : " + str(res))

The original tuple : (10, 4, 5, 6, 8)
Does tuple contain required value ? : True

In [60]:
#  7. Convert a tuple to a list.

tuples = (0, 2, 4, 6, 8)
mylist = list(tuples)
print(mylist)
print(type(mylist))

# Output:
# [0, 2, 4, 6, 8]
# <class 'list'>

[0, 2, 4, 6, 8]
<class 'list'>

In [61]:
#  8. Convert a list to a tuple.

def convert(list):
    return tuple(list)
 
# Driver function
list = [1, 2, 3, 4]
print(convert(list))

(1, 2, 3, 4)

In [62]:
#  9. Unpack the elements of a tuple into variables.

a = ("MNNIT Allahabad", 5000, "Engineering") 
 
# this lines UNPACKS values
# of variable a
(college, student, type_ofcollege) = a 
 
# print college name
print(college)
 
# print no of student
print(student)
 
# print type of college
print(type_ofcollege)

MNNIT Allahabad
5000
Engineering

In [63]:
#  10. Create a tuple of even numbers from 1 to 10.

even_numbers = [x for x in range(10) if x%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [64]:
#  11. Create a tuple of odd numbers from 1 to 10.

odd_numbers = [x for x in range(10) if x%2==1]
print(odd_numbers)

[1, 3, 5, 7, 9]

In [65]:
#  12. Concatenate two tuples.

test_tup1 = (1, 3, 5)
test_tup2 = (4, 6)
 
# printing original tuples
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))
 
# Ways to concatenate tuples
# using + operator
res = test_tup1 + test_tup2
 
# printing result
print("The tuple after concatenation is : " + str(res))

The original tuple 1 : (1, 3, 5)
The original tuple 2 : (4, 6)
The tuple after concatenation is : (1, 3, 5, 4, 6)

In [67]:
#  13. Repeat a tuple three times.

num_tuple = (10, 20, 30) * 5
print(num_tuple)

(10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30)

In [68]:
#  14. Check if a tuple is empty.

Mytuple=()
# Using not operator
if not Mytuple:
    print ("Mytuple is empty")
else:
    print ("Mytuple is not empty")
# Printing the tuple
print(Mytuple)

Mytuple is empty
()

In [69]:
#  15. Create a nested tuple.

test_tup1 = (3, 4),
test_tup2 = (5, 6),
 
# printing original tuples
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))
 
# Concatenating tuples to nested tuples
# using + operator + ", " operator during initialization
res = test_tup1 + test_tup2
 
# printing result
print("Tuples after Concatenating : " + str(res))

The original tuple 1 : ((3, 4),)
The original tuple 2 : ((5, 6),)
Tuples after Concatenating : ((3, 4), (5, 6))

In [70]:
#  16. Access the first element of a nested tuple.

data = [(1, 'sravan'), (2, 'ojaswi'),
        (3, 'bobby'), (4, 'rohith'),
        (5, 'gnanesh')]
 
# iterate using for loop
# to access first elements
for i in data:
    print(i[0])

1
2
3
4
5

In [72]:
#  17. Create a tuple with a single element.

mytuple = ("apple")

print(mytuple)
print(type(mytuple))

apple
<class 'str'>

In [73]:
#  18. Compare two tuples.

test_tup1 = (10, 4, 5)
test_tup2 = (13, 5, 18)
 
# printing original tuples
print("The original tuple 1 : " + str(test_tup1))
print("The original tuple 2 : " + str(test_tup2))
 
# Comparing tuples
# using generator expression + all() + zip()
res = all(x < y for x, y in zip(test_tup1, test_tup2))
 
# printing result
print("Are all elements in second tuple greater than first ? : " + str(res))

The original tuple 1 : (10, 4, 5)
The original tuple 2 : (13, 5, 18)
Are all elements in second tuple greater than first ? : True

In [78]:
#  19. Delete a tuple.

test_tup = (1, 5, 3, 6, 8)
 
# printing original tuple
print("The original tuple : " + str(test_tup))
 
# Clearing a tuple
# using Reinitialization + tuple()
test_tup = tuple()
 
# print result
print("The tuple after clearing values : " + str(test_tup))

The original tuple : (1, 5, 3, 6, 8)
The tuple after clearing values : ()

In [79]:
#  20. Slice a tuple.

# Slice a tuple with a specific end position
tuples = ('Spark','Python','Pandas','Pyspark','Java','Hadoop')
stop = 2
slice1 = slice(stop)
result = tuples[slice1]
print(result)

# Output
# ('Spark', 'Python')

# Slice from the beginning to index 3
result = tuples[:3]
print(result)

('Spark', 'Python')
('Spark', 'Python', 'Pandas')

In [3]:
#  21. Find the maximum value in a tuple.

t = (25, 17, 55, 63, 40)
 
max_val = t[0]
 
for i in range(len(t)):
    if t[i] > max_val:
        max_val = t[i]
 
print("Maximum value is:", max_val)

Maximum value is: 63

In [5]:
#  22. Find the minimum value in a tuple.

aTuple = (2, 5, 8, 1, 4, 3)
result = min(aTuple)
print('Minimum :', result)

Minimum : 1

In [11]:
#  23. Convert a string to a tuple of characters.

string = "geeks"
print([*string])

['g', 'e', 'e', 'k', 's']

In [8]:
#  24. Convert a tuple of characters to a string.

def convert(s):
 
    # initialization of string to ""
    new = ""
 
    # traverse in the string
    for x in s:
        new += x
 
    # return string
    return new
     
     
# driver code
s = ('g', 'e', 'e', 'k', 's', 'f', 'o', 'r', 'g', 'e', 'e', 'k', 's')
print(convert(s))

geeksforgeeks

In [12]:
#  25. Create a tuple from multiple data types.

tuplex = ("tuple", False, 3.2, 1)
print(tuplex)

('tuple', False, 3.2, 1)

In [15]:
#  26. Check if two tuples are identical. 

my_list_1 = [(11, 14), (54, 58)]
my_list_2 = [(98, 0), (10, 13)]

print("The first list of tuple is : ")
print(my_list_1)
print("The second list of tuple is : ")
print(my_list_2)

my_result = my_list_1 == my_list_2

print("Are the list of tuples identical?")
print(my_result)

The first list of tuple is :
[(11, 14), (54, 58)]
The second list of tuple is :
[(98, 0), (10, 13)]
Are the list of tuples identical?
False

In [16]:
#  27. Sort the elements of a tuple.

tuple_ = (5, 2, 24, 3, 1, 6, 7)  
sorted_ = tuple(sorted(tuple_))  
print('Sorted Tuple :', sorted_)  
print(type(sorted_))

Sorted Tuple : (1, 2, 3, 5, 6, 7, 24)
<class 'tuple'>

In [17]:
#  28. Convert a tuple of integers to a tuple of strings.

def tuple_int_str(tuple_str):
    result = tuple((int(x[0]), int(x[1])) for x in tuple_str)
    return result
     
tuple_str =  (('333', '33'), ('1416', '55'))
print("Original tuple values:")
print(tuple_str)
print("\nNew tuple values:")
print(tuple_int_str(tuple_str))

Original tuple values:
(('333', '33'), ('1416', '55'))

New tuple values:
((333, 33), (1416, 55))

In [19]:
#  29. Convert a tuple of strings to a tuple of integers.

test_str = "(7, 8, 9)"
 
# printing original string
print("The original string is : " + test_str)
 
# Convert Tuple String to Integer Tuple
# Using eval()
res = eval(test_str)
 
# printing result
print("The tuple after conversion is : " + str(res))

The original string is : (7, 8, 9)
The tuple after conversion is : (7, 8, 9)

In [20]:
#  30. Merge two tuples.

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [21]:
#  31. Flatten a nested tuple.

def flatten_tuples(t):
    for x in t:
        if isinstance(x, tuple):
            yield from flatten_tuples(x)
        else:
            yield x
 
# initializing tuple
test_tuple = ((4, 5), ((4, 7), (8, 9), (10, 11)), (((9, 10), (3, 4))))
 
# printing original tuple
print("The original tuple : " + str(test_tuple))
 
# Flatten Nested Tuples
# Using generator function
res = tuple(flatten_tuples(test_tuple))
 
# printing result
print("The flattened tuple : " + str(res))

The original tuple : ((4, 5), ((4, 7), (8, 9), (10, 11)), ((9, 10), (3, 4)))
The flattened tuple : (4, 5, 4, 7, 8, 9, 10, 11, 9, 10, 3, 4)

In [26]:
#  32. Create a tuple of the first 5 prime numbers.

def prime_numbers(n):
    primes = []
    for i in range(2, n + 1):
        for j in range(2, int(i ** 0.5) + 1):
            if i%j == 0:
                break
        else:
            primes.append(i)
    return primes

prime_list = prime_numbers(50)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [30]:
##  33. Check if a tuple is a palindrome.

s1='madam'
s2=s1[::-1]
if s1==s2:
    print('String is a palindrome')
else:
    print('string is not a palindrome')

String is a palindrome

In [32]:
#  34. Create a tuple of squares of numbers from 1 to 5.

tup = ()
for i in range(1,5):
    tup = tup + (i**2,)
print("The square of integers from 1 to 50 is:" ,tup)

The square of integers from 1 to 50 is: (1, 4, 9, 16)

In [33]:
#  35. Filter out all even numbers from a tuple.

test_list = [(6, 4, 2, 8), (5, 6, 7, 6), (8, 0, 2), (7, )]
 
# printing original list
print("The original list is : " + str(test_list))
 
# use heapq to filter tuples with all even elements
res_list = list(filter(lambda t: all(x % 2 == 0 for x in t), test_list))
 
# print results
print("Filtered Tuples : " + str(res_list))
#This code is contrinuted by Jyothi pinjala.

The original list is : [(6, 4, 2, 8), (5, 6, 7, 6), (8, 0, 2), (7,)]
Filtered Tuples : [(6, 4, 2, 8), (8, 0, 2)]

In [36]:
#  36. Multiply all elements in a tuple by 2.

def multiply_tuple_elements(tuple):
    result = 1
    for item in tuple:
        result *= item
    return result

my_tuple = (2, 3, 4, 5)
print(multiply_tuple_elements(my_tuple))

120

In [38]:
#  37. Create a tuple of random numbers.

import random
 
N = 4
R = 6
 
generate_tuples = lambda N, R: [(random.randint(0, R), random.randint(0, R)) for _ in range(N)]
 
output = generate_tuples(N, R)
print(output)

[(5, 4), (6, 2), (1, 6), (1, 6)]

In [39]:
#  38. Check if a tuple is sorted.


def is_tuple_sorted(t):
    for i in range(1, len(t)):
        # return False if the element is smaller than the previous element
        if t[i] < t[i-1]:
            return False
    return True
# create a tuple
t = (1, 2, 3, 4, 5)
# check if tuple is sorted
print(is_tuple_sorted(t))

True

In [40]:
#  39. Rotate a tuple to the left by `n` positions.

import numpy as np
 
def rotate_left(arr, n):
    return np.concatenate((arr[n:], arr[:n]))
 
def rotate_right(arr, n):
    return np.concatenate((arr[-n:], arr[:-n]))
 
# Example usage
original_list = [1, 4, 6, 7, 2]
print("Original list:", original_list)
 
rotated_left = rotate_left(original_list, 3)
print("List after left rotate by 3:", rotated_left)
 
rotated_right = rotate_right(rotated_left, 3)
print("List after right rotate by 3 (back to original):", rotated_right)

Original list: [1, 4, 6, 7, 2]
List after left rotate by 3: [7 2 1 4 6]
List after right rotate by 3 (back to original): [1 4 6 7 2]

In [41]:
#  40. Rotate a tuple to the right by `n` positions.

def rightRotate(lists, num):
    output_list = []
 
    # Will add values from n to the new list
    for item in range(len(lists) - num, len(lists)):
        output_list.append(lists[item])
 
    # Will add the values before
    # n to the end of new list
    for item in range(0, len(lists) - num):
        output_list.append(lists[item])
 
    return output_list
 
 
# Driver Code
rotate_num = 3
list_1 = [1, 2, 3, 4, 5, 6]
 
print(rightRotate(list_1, rotate_num))

[4, 5, 6, 1, 2, 3]

In [44]:
#  41. Create a tuple of the first 5 Fibonacci numbers.

lst = [0,1]
a = 0
b = 1
c = 0

for i in range(5):
    c = a + b
    a = b
    b = c
    lst.append(c)

tup = tuple(lst)

print("terms of Fibonacci series are:", tup)

terms of Fibonacci series are: (0, 1, 1, 2, 3, 5, 8)

In [45]:
#  42. Create a tuple from user input.

my_tuple = tuple(input('Enter space-separated words: ').split())

print(my_tuple)

Enter space-separated words:  Hello How are you

('Hello', 'How', 'are', 'you')

In [46]:
#  43. Swap two elements in a tuple.

test_list = [(3, 4), (6, 5), (7, 8)]
 
# printing original list
print("The original list is : " + str(test_list))
 
# Swap tuple elements in list of tuples
# Using list comprehension
res = [(sub[1], sub[0]) for sub in test_list]
         
# printing result
print("The swapped tuple list is : " + str(res))

The original list is : [(3, 4), (6, 5), (7, 8)]
The swapped tuple list is : [(4, 3), (5, 6), (8, 7)]

In [47]:
#  44. Reverse the elements of a tuple.

def Reverse(tuples):
    new_tup = tuples[::-1]
    return new_tup
     
# Driver Code
tuples = ('z','a','d','f','g','e','e','k')
print(Reverse(tuples))

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

In [61]:
#  45. Create a tuple of the first `n` powers of 2.

x = (1, 2, 3, 4)

def power(n):
    return n * n

tuple(map(power, x))

(1, 4, 9, 16)

In [66]:
#  46. Find the longest string in a tuple of strings.

test_list = ('gfg', 'is', 'best', 'for', 'geeks')
 
# create a new list of string lengths using a list comprehension
lengths = [len(s) for s in test_list]
 
# find the index of the longest string in the original list
longest_index = lengths.index(max(lengths))
 
# use the index to get the longest string from the original list
longest_string = test_list[longest_index]
 
# print the longest string
print("Longest string is : " + longest_string)

Longest string is : geeks

In [65]:
#  47. Find the shortest string in a tuple of strings.

test_tuple = ('gfg', 'is', 'best', 'for', 'geeks')
 
# printing original list
print("The original list : " + str(test_tuple))
 
# Longest String in list
# using loop
max_len = -1
for ele in test_tuple:
    if len(ele) > max_len:
        max_len = len(ele)
        res = ele
 
# printing result
print("Maximum length string is : " + res)

The original list : ('gfg', 'is', 'best', 'for', 'geeks')
Maximum length string is : geeks

In [68]:
#  48. Create a tuple of the first `n` triangular numbers.

def isTriangular(num):
 
    # Base case
    if (num < 0):
        return False
 
    # A Triangular number must be
    # sum of first n natural numbers
    sum, n = 0, 1
 
    while(sum <= num):
     
        sum = sum + n
        if (sum == num):
            return True
        n += 1
 
    return False
 
# Driver code
n = 55
if (isTriangular(n)):
    print("The number is a triangular number")
else:
    print("The number is NOT a triangular number")
 
# This code is contributed by Smitha Dinesh Semwal.

The number is a triangular number

In [69]:
#  49. Check if a tuple contains another tuple as a subsequence.

my_tuple_1 = (87, 90, 31, 85)
my_tuple_2 = (34, 56, 12, 5)

print("The first tuple is :")
print(my_tuple_1)
print("The second tuple is :")
print(my_tuple_2)

my_result = set(my_tuple_2).issubset(my_tuple_1)

print("Is the second tuple a subset of the first tuple ? ")
print(my_result)

The first tuple is :
(87, 90, 31, 85)
The second tuple is :
(34, 56, 12, 5)
Is the second tuple a subset of the first tuple ?
False

In [70]:
#  50. Create a tuple of alternating 1s and 0s of length `n`.

test_tuple = (5, 6, 3, 6, 10, 34)
 
# printing original tuple
print("The original tuple : " + str(test_tuple))
 
# Alternate Elements operation on Tuple
# Using loop + enumerate()
sum1 = 0
sum2 = 0
for idx, ele in enumerate(test_tuple):
    if idx % 2:
        sum1 += ele
    else:
        sum2 += ele
 
# printing result
print("The alternate chain sum 1 : " + str(sum1))
print("The alternate chain sum 2 : " + str(sum2))

The original tuple : (5, 6, 3, 6, 10, 34)
The alternate chain sum 1 : 46
The alternate chain sum 2 : 18

In [1]:
#  Set Based Practice Problem :

#  1. Create a set with integers from 1 to 5.

x=set(range(0,6))
print(x)

{0, 1, 2, 3, 4, 5}

In [4]:
#  2. Add an element to a set.

set1 = {1, 2, 3, 4, 5}

# a list of numbers to add
list_to_add = [6, 7, 8]

# add all elements of list to the set
set1.update(list_to_add)

print('Updated set after adding elements: ', set1)

Updated set after adding elements:  {1, 2, 3, 4, 5, 6, 7, 8}

In [5]:
#  3. Remove an element from a set.

fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'cherry', 'apple'}

In [6]:
#  4. Check if an element exists in a set.

thisset = {"apple", "banana", "cherry"}

if "apple" in thisset:
  print("Yes, 'apple' is in this set")

Yes, 'apple' is in this set

In [7]:
#  5. Find the length of a set without using the `len()` function.

string = 'Hello'

count = 0

for i in string:
 
    count+=1
print(count)

5

In [8]:
#  6. Clear all elements from a set.

# set of prime numbers
primeNumbers = {2, 3, 5, 7}

# clear all elements
primeNumbers.clear()

print(primeNumbers)

# set()

set()

In [15]:
#  7. Create a set of even numbers from 1 to 10.

list1 = {1,2,3,4,5,6,7,8,9,10}
 
# iterating each number in list
for num in list1:
 
    # checking condition
    if num % 2 == 0:
        print(num, end=" ")

2 4 6 8 10

In [16]:
#  8. Create a set of odd numbers from 1 to 10.

start, end = 1, 10
 
# iterating each number in list
for num in range(start, end + 1):
     
    # checking condition
    if num % 2 != 0:
        print(num, end = " ")

1 3 5 7 9

In [17]:
#  9. Find the union of two sets.

s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1.union(s2)

print(s)

{'C#', 'Java', 'Python'}

In [18]:
#  10. Find the intersection of two sets.

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [19]:
#  11. Find the difference between two sets.

A = {10, 20, 30, 40, 80}
B = {100, 30, 80, 40, 60}
print (A.difference(B))
print (B.difference(A))

{10, 20}
{100, 60}

In [20]:
#  12. Check if a set is a subset of another set.

A = {1, 2, 3}
B = {1, 2, 3, 4, 5}

# all items of A are present in B
print(A.issubset(B))

True

In [21]:
#  13. Check if a set is a superset of another set.

A = {10, 20, 30, 40, 80}
B = {100, 30, 80, 40, 60}
print (A.issuperset(B))
print (B.issuperset(A))

False
False

In [23]:
#  14. Create a set from a list.

my_set = {s for s in [1, 2, 3, 3, 4, 4, 5, 6, 6]}
print(my_set)

{1, 2, 3, 4, 5, 6}

In [24]:
#  15. Convert a set to a list.

# set into a list
my_set = {'Geeks', 'for', 'geeks'}
print(type(my_set))
 
s = list(my_set)
print(type(s))

<class 'set'>
<class 'list'>

In [25]:
#  16. Remove a random element from a set.

def Remove(sets):
    sets.discard(20)
    print (sets)
      
# Driver Code
sets = set([10, 20, 26, 41, 54, 20])
Remove(sets)

{41, 10, 54, 26}

In [26]:
#  17. Pop an element from a set.

fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'apple', 'banana'}

In [28]:
#  18. Check if two sets have no elements in common.

def common_member(a, b):
    a_set = set(a)
    b_set = set(b)
    if len(a_set.intersection(b_set)) > 0:
        return(True)
    return(False)  
 
a = {1, 2, 3, 4, 5}
b = {5, 6, 7, 8, 9}
print(common_member(a, b))
 
a ={1, 2, 3, 4, 5}
b ={6, 7, 8, 9}
print(common_member(a, b))

True
False

In [29]:
# 19. Find the symmetric difference between two sets.

set_A = {1, 2, 3, 4, 5}
set_B = {6, 7, 3, 9, 4}
print(set_A.symmetric_difference(set_B))

{1, 2, 5, 6, 7, 9}

In [30]:
#  20. Update a set with elements from another set.

list1 = [1, 2, 3]
list2 = [5, 6, 7]
list3 = [10, 11, 12]
 
# Lists converted to sets
set1 = set(list2)
set2 = set(list1)
 
# Update method
set1.update(set2)
 
# Print the updated set
print(set1)

{1, 2, 3, 5, 6, 7}

In [32]:
#  21. Create a set of the first 5 prime numbers.

n=1
i=2
while ( n <= 5): # change this value for more numbers
    b=0
    for j in range(2,int(i/2)+1):
        if(i%j==0):
            b=1
            break  
    if(b==0):
        print(i,end=', ')
        n=n+1
    i=i+1

2, 3, 5, 7, 11,

In [33]:
#  22. Check if two sets are identical.

name= {1,2,3,4,5}
rollno= {1,2,3,4,5}
print(name==rollno)

True

In [34]:
#  23. Create a frozen set.

animals = frozenset(["cat", "dog", "lion"])
print("cat" in animals)
print("elephant" in animals)

True
False

In [35]:
#  24. Check if a set is disjoint with another set.

s1 = {1, 2, 3}
s2 = {4, 5, 6}
print(s1.isdisjoint(s2))

True

In [39]:
#  25. Create a set of squares of numbers from 1 to 5.

old = {1, 2, 3, 4, 5}

new = []
for number in old:
    new.append(number**2)
print(new)

# [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [40]:
#  26. Filter out all even numbers from a set.

lis = {1, 2, 3, 4, 5}
 
out = []
 
for num in lis:
 
    # checking condition
    if num % 2 == 0:
        out.append(num)
 
 
# printing output
print(out)

[2, 4]

In [43]:
#  27. Multiply all elements in a set by 2.

def multiplyList(myList):
 
    # Multiply elements one by one
    result = 1
    for x in myList:
        result = result * x
    return result
 
 
# Driver code
list1 = {1, 2, 3}
list2 = {3, 2, 4}
print(multiplyList(list1))
print(multiplyList(list2))

6
24

In [47]:
#  28. Create a set of random numbers.

import random
 
rand_list=[]
n=10
for i in range(n):
    rand_list.append(random.randint(3,9))
print(rand_list)

[3, 4, 4, 6, 8, 9, 3, 9, 3, 6]

In [48]:
#  29. Check if a set is empty.

# Initializing an empty set
MySet = {}
# Using not operator
if not MySet:
    print ("set is empty")
else:
    print ("set is not empty")

set is empty

In [49]:
#  30. Create a nested set (hint: use frozenset).

animals = frozenset(["cat", "dog", "lion"])
print("cat" in animals)
print("elephant" in animals)

True
False

In [50]:
#  31. Remove an element from a set using the discard method.

fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'cherry', 'apple'}

In [53]:
#  32. Compare two sets.

name= {1,2,3,4,5}
rollno= {1,2,3,4,5}
print(name==rollno)

True

In [54]:
#  33. Create a set from a string.

print("Initially")
print("The datatype of string : " + str(type(string)))
print("Contents of string : " + string)
 
# convert String to Set
string = set(string)
print("\nAfter the conversion")
print("The datatype of string : " + str(type(string)))
print("Contents of string : ", string)

Initially
The datatype of string : <class 'str'>
Contents of string : Hello

After the conversion
The datatype of string : <class 'set'>
Contents of string :  {'l', 'e', 'o', 'H'}

In [55]:
#  34. Convert a set of strings to a set of integers.

lis = ['1', '-4', '3', '-6', '7']
res = [eval(i) for i in lis]
print("Modified list is: ", res)

Modified list is:  [1, -4, 3, -6, 7]

In [57]:
#  35. Convert a set of integers to a set of strings.

num = 10
 
# check  and print type of num variable
print("Type before conversion : ",type(num))
 
# convert the num into string
converted_num = ''.join(list(str(num)))
 
# print type of converted_num
print("Type after conversion : ", type(converted_num))

Type before conversion :  <class 'int'>
Type after conversion :  <class 'str'>

In [68]:
#  36. Create a set from a tuple.

mySet = set((x,y) for x in range(1,51) for y in range(1,51))
print(mySet)

In [69]:
#  37. Convert a set to a tuple.

s = {'a', 'b', 'c', 'd', 'e'}
 
# print set
print(type(s), " ", s)
 
# call tuple() method
# this method convert set to tuple
t = tuple(s)
 
# print tuple
print(type(t), " ", t)

<class 'set'>   {'e', 'a', 'c', 'b', 'd'}
<class 'tuple'>   ('e', 'a', 'c', 'b', 'd')

In [70]:
#  38. Find the maximum value in a set.

def MAX(sets):
    return (max(sets))
     
# Driver Code
sets = set([8, 16, 24, 1, 25, 3, 10, 65, 55])
print(MAX(sets))

65

In [71]:
# 39. Find the minimum value in a set. 

def MIN(sets):
    return (min(sets))
     
# Driver Code
sets = set([8, 16, 24, 1, 25, 3, 10, 65, 55])
print(MIN(sets))

1

In [72]:
#  40. Create a set from user input.

my_set = set(input('Enter space-separated words: ').split())

print(my_set)

Enter space-separated words:  Hello India

{'India', 'Hello'}

In [76]:
#  41. Check if the intersection of two sets is empty.

L = [1,2,3,4,5,6]
M = [8,9,10]
len(set.intersection(set(L), set(M)))

0

In [77]:
#  42. Create a set of the first 5 Fibonacci numbers.

n = 10
num1 = 0
num2 = 1
next_number = num2 
count = 1
 
while count <= n:
    print(next_number, end=" ")
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
print()

1 2 3 5 8 13 21 34 55 89

In [78]:
#  43. Remove duplicates from a list using sets.

test_list = [1, 5, 3, 6, 3, 5, 6, 1]
print ("The original list is : "
        + str(test_list))
 
# using set() to remove duplicated from list
test_list = list(set(test_list))
 
# printing list after removal
# distorted ordering
print ("The list after removing duplicates : "
        + str(test_list))

The original list is : [1, 5, 3, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 3, 5, 6]

In [81]:
#  44. Check if two sets have the same elements, regardless of their count.

x = ['a', 'b']
y = ['b', 'a']
import collections
collections.Counter(x) == collections.Counter(y)

True

In [86]:
##  45. Create a set of the first `n` powers of 2.

print("Enter the Total Number of Terms: ")
tot = int(input())

for i in range(tot):
    print("2 raised to the power ", i, " is ", 2 ** i)

Enter the Total Number of Terms:

 2

2 raised to the power  0  is  1
2 raised to the power  1  is  2

In [89]:
# 46. Find the common elements between a set and a list.

def find_common(list1, list2, list3):
    common = set()
    for elem in list1:
        if elem in list2 and elem in list3:
            common.add(elem)
    return common
 
list1 = [1, 5, 10, 20, 40, 80]
list2 = [6, 7, 20, 80, 100]
list3 = [3, 4, 15, 20, 30, 70, 80, 120]
 
common = find_common(list1, list2, list3)
print(common)

{80, 20}

In [90]:
#  47. Create a set of the first `n` triangular numbers.

def triangular_series( n ):
    j = 1
    k = 1
     
    # For each iteration increase j
    # by 1 and add it into k
    for i in range(1, n + 1):
        print(k, end = ' ')
        j = j + 1 # Increasing j by 1
         
        # Add value of j into k and update k
        k = k + j
         
# Driven Code
n = 5
triangular_series(n)

1 3 6 10 15

In [91]:
#  48. Check if a set contains another set as a subset.

s1 = {1, 2, 3, 4, 5}
s2 = {4, 5}
# Output True, since, s2 elements in s1
print(s2.issubset(s1))

True

In [93]:
#  49. Create a set of alternating 1s and 0s of length `n`.

import math

# initializing the length and list
length = 7
result = [None] * length

_1s_count = math.ceil(length / 2)
_2s_count = length - _1s_count

# adding 0s and 1s
result[::2] = [1] * _1s_count
result[1::2] = [0] * _2s_count

# printing the result
print(result)

[1, 0, 1, 0, 1, 0, 1]

In [94]:
#  50. Merge multiple sets into one.

import itertools
 
if __name__ == '__main__':
 
    x = {1, 3}
    y = {5}
    z = {7, 9}
 
    s = set(itertools.chain(x, y, z))
 
    print(s)

{1, 3, 5, 7, 9}